name: Rust CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/rust_ci.yaml"
      - "rust/**"
    tags:
      - "**"

jobs:
  check:
    name: Run checks
    runs-on: ubuntu-latest

    strategy:
      matrix:
        workspace:
          - rust

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-version: stable
          components: clippy rustfmt

      - name: Check codestyle
        working-directory: ${{ matrix.workspace }}
        shell: bash
        run: |
          cargo fmt -v --all --check

      - name: Build
        working-directory: ${{ matrix.workspace }}
        shell: bash
        run: |
          cargo build -v --workspace --all-targets

      - name: Run clippy checks
        working-directory: ${{ matrix.workspace }}
        shell: bash
        run: |
          cargo clippy --workspace --all-targets -- -D warnings

      - name: Run tests
        working-directory: ${{ matrix.workspace }}
        shell: bash
        run: |
          cargo test --verbose --workspace --all-targets -- --include-ignored
